# Old Files
*.sh~
*node_modules/
*inventory*

.idea/
../../.idea/
*.mkv
*.mp4

# dependencies
*node_modules
*.pnp
*.pnp.js

# testing
*coverage

# production
*build/

*adguard_home/conf/
*adguard_home/work/
*calibre-web/config/
*filebrowser/config/
*home_assistant/config/.HA_VERSION
*home_assistant/config/.storage/
*home_assistant/config/automations.yaml
*home_assistant/config/blueprints/
*home_assistant/config/configuration.yaml
*home_assistant/config/home-assistant.log
*home_assistant/config/home-assistant.log.1
*home_assistant/config/home-assistant.log.fault
*home_assistant/config/home-assistant_v2.db
*home_assistant/config/home-assistant_v2.db-shm
*home_assistant/config/home-assistant_v2.db-wal
*home_assistant/config/scenes.yaml
*home_assistant/config/scripts.yaml
*home_assistant/config/secrets.yaml
*portainer/portainer/
*transmission-openvpn/config/

*nginx_proxy/conf.d/default.conf

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Environment files
*.env
.env

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
