# Old Files
*.sh~
*node_modules/
*inventory*

../../.idea/
*.mkv
*.mp4

# dependencies
*node_modules
*.pnp
*.pnp.js

# testing
*coverage

# production
*build/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Environment files
*.env
.env

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
